[Desktop Entry]
Name=Snap Zones
Comment=Script aiming at creating custom zones and allow snapping windows to them.
Icon=preferences-system-windows

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Louis Ali Ben Abdallah
X-KDE-PluginInfo-Email=louis.alibenabdallah@gmail.com
X-KDE-PluginInfo-Name=snap-zones
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script,KCModule

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=snap-zones
X-KDE-ParentComponents=snap-zones

Type=Service